{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="icon">
    <div class="imageContainer">
      <img class="pkm-bg" src="{% static "images/bg.svg" %}" />
      <p class="num">
        149
      </p>
      <img class="pkm-sprite" src="{% static "images/pokemon-icons/149.png" %}"/>
    </div>
    <p>
      Dragonite
    </p>
  </div>
  <div class="icon">
    <div class="imageContainer">
      <img class="pkm-bg" src="{% static "images/bg.svg" %}" />
      <p class="num">
        473
      </p>
      <img class="pkm-sprite" src="{% static "images/pokemon-icons/473.png" %}" />
    </div>
    <p>
      Mamoswine
    </p>
  </div>
{% endblock %}
